body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url(assets/cachorro\ fundo2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

h1 {
    margin-left: 100px;
    color: #ffffff;
    margin-top: 30px;
    font-size: 50px;
}


label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input,select,textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}


textarea {
    resize: none;
    height: 80px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;

}

#resultado {
    width: 350px;
    margin: 20px auto;
    background-color: #000000;
    padding: 15px;
    border-radius: 8px;
    color: #2e7d32;
} 

form {
    background-color: rgb(172, 42, 60);
    width: 350px;

    margin-top: 50px;
    margin-left: 100px;

    padding: 25px;
    border-radius: 12px;
}